.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
}

.back {
  justify-self: flex-start;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.25s;
}

.back:hover {
  color: rgba(0, 0, 0, 0.7);
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  padding-bottom: 0.2rem;
  font-size: 1.6rem;
  margin-right: 4px;
}

.titleDetail {
  font-size: 1rem;
  margin-left: 4px;
  color: #7b7b7b;
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: #7b7b7b;
}
